.dashboard {
    padding: 20px;
    text-align: center;
  }
  .dashboard {
    min-height: 100vh;
    background-color: #f8f9fa; /* Light gray background */
  }
  
  .overview {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .overview h2 {
    margin-bottom: 15px;
  }
  
  .overview p {
    font-size: 1.1em;
    margin: 5px 0;
  }
  
  .overview h3 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .overview ul {
    list-style: none;
    padding: 0;
  }
  
  .overview li {
    margin: 5px 0;
  }
  
  .dashboard-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .friends-section, .expenses-section, .summary-section {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .dashboard-sections {
      flex-direction: column;
      align-items: center;
    }
  }